<div style="margin-top: 100px;">
    <img [src]="angularImg" style="width: 100px;" /> <br />
    This application is written in Angular 6
</div>
<br />

<div>
    <b> LIKES: {{ count }}</b> <br />
    <button style="cursor:pointer" (click)="increment()">LOCAL STATE</button>&nbsp;&nbsp;👍 <br />
    <button style="cursor:pointer" (click)="decrement()">LOCAL STATE</button>&nbsp;&nbsp;👎 <br />
    <button style="cursor:pointer" (click)="globalIncrement()">GLOBAL STATE</button>&nbsp;&nbsp;👍 <br />
    <button style="cursor:pointer" (click)="globalDecrement()">GLOBAL STATE</button>&nbsp;&nbsp;👎 <br />
</div>

<br />
<a [routerLink]="['/subroute1']" routerLinkActive="active">Angular route 1</a>&nbsp;
<a [routerLink]="['/subroute2']" routerLinkActive="active">Angular route 2</a>&nbsp;
<a href="#/appngrx/movies">NGRX movies</a>&nbsp;
<a href="#/appngrx/covers">NGRX covers</a>

<router-outlet></router-outlet>