<div style="text-align: center; margin-top: 100px">

  <div>
    <b> LIKES: {{ count }}</b> <br />
    <button style="cursor:pointer" (click)="increment()">LOCAL STATE</button>&nbsp;&nbsp;👍 <br />
    <button style="cursor:pointer" (click)="decrement()">LOCAL STATE</button>&nbsp;&nbsp;👎 <br />
    <button style="cursor:pointer" (click)="globalIncrement()">GLOBAL STATE</button>&nbsp;&nbsp;👍 <br />
    <button style="cursor:pointer" (click)="globalDecrement()">GLOBAL STATE</button>&nbsp;&nbsp;👎 <br />
  </div> 

  <div class="topnav">
    <a routerLink="/movies">Movies</a>
    <a routerLink="/covers">Covers</a>
  </div>
</div>

<router-outlet></router-outlet>